html,
body {
  background-color: #f0f0f0; /* Set your desired background color here */
  margin: 0;
  padding: 0;
  height: 100%;
}


.App {
  text-align: center;
  padding: 2rem;
}

.App > * {
  margin: 2rem;
}

.field {
  width: 60vw;
}

.submit Button {
  width: 40vw;
}